.infinite-scroll-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    border-block: 2px dotted transparent; 
    mask-composite: intersect;   
    mask-image: 
      linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%),
      linear-gradient(to bottom, transparent 0%, black 5%, black 95%, transparent 100%);
    
  }

  
  
  .infinite-scroll-wrapper::before,
  .infinite-scroll-wrapper::after {
    content: "";
    position: absolute;
    height: 25%;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    
  }
  
  .infinite-scroll-wrapper::before {
    top: 0;
  }
  
  .infinite-scroll-wrapper::after {
    --dir: to top;
    bottom: 0;
  }
  
  .infinite-scroll-container {
    display: flex;
    flex-direction: column;
    overscroll-behavior: contain;
    padding-inline: 1rem;
    cursor: grab;
    transform-origin: center center;
  }
  
  .infinite-scroll-item {
    --accent-color: #a2ff00;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    border: 2px solid var(--accent-color);
    user-select: none;
    box-sizing: border-box;
    position: relative;
  }